/*共用設定區*/

/*字體*/
*
{
    font-family: "Microsoft JhengHei UI Light","Noto Sans CJK TC Light","Microsoft YaHei UI Light","","Microsoft JhengHei",sans-serif;
    margin:0;
    padding:0px;
}
html, body {
    overflow-x: auto;
    overflow-y: auto;
}
body
{
    margin:0px;
}
/*連結*/
a
{
    font-weight: normal;
    color:white;
    text-decoration:none;
    font-size: 28px;
}
/*ul正常化*/
ul
{
    list-style-type: none;
    padding: 0px
}
/*li內縮*/
li
{
    display: inline-block;
    text-align: center;
}
/*基本共用設定區*/
/*標題*/
.title
{
    margin-top: 20px;
    font-weight: normal;
    text-align: center;
}
/*內容*/
.content
{
    text-align: center;
}
.article *
{
    margin-bottom:20px;
}
.article a>img
{
    margin-bottom: 0px;
}
/*遮罩*/
.mask
{
    width:680px;
    height:100%;
    position: relative;
    display:inline-block;
    text-align: center;
}
/*右遮罩*/
.right.mask
{
    padding-top:160px;
    position: absolute;
    right:55px;
}
/*左遮罩*/
.left.mask
{
    padding-top:160px;
    margin-left: 55px;
}
.feature,.footer .article,#main.article
{
    position: relative;
    width:100%;
    height: 710px;
}
/*色彩主題區*/
/*暗色*/
.dark
{
    color:rgb(204,204,204);
}
.dark .title
{
    color:rgb(159,197,248);
}
.dark .button
{
    color:rgb(204,204,204);
    border-color:rgb(204,204,204);
}
.dark .mask
{
    background-color: rgba(0,0,0,0.25);
    
}
/*亮色*/
.light 
{
    color:rgb(51,51,51);
}
.light .title
{
    color:rgb(07,55,99);
}

.light .button
{
    color:rgb(51,51,51);
    border-color:rgb(51,51,51);
}
.light .mask
{
    background-color: rgba(255,255,255,0.75);
}
/*分隔線*/
.line
{
    content:"";
    display: block;
    width:485px;
    height:0px;
    border:0.5px solid rgb(51,51,51);
    border-width: 1px 0px;

}
.line.dot
{
    border-style: dotted;
}
/*字體大小 粗細*/
/*標題*/
.title
{
    font-size: 60px;
}
.content
{
    font-size: 32px;
}
.header
{
    position: fixed;
    min-width: 1280px;
    width: 100%;
    left:0;
    top:0;
    z-index: 99;
}
.header>.navigation>.linkList
{
    font-size: 28px;
    font-weight: bold;
}
.featureText
{
    font-size: 24px;
}
.information
{
    font-size: 28px;
}
.def
{
    font-size: 24px;
}
.explanation
{
    font-size: 16px;
}
.developerInfo
{
    font-size: 24px;
    font-weight: bold;
}
.article
{
    background-size: 100% 100%;
    background-position: center;
}
/*HTML 內容設定區*/
/*外層容器*/
.container
{
    position: relative;
    margin:0px auto;
    max-width: 100%;
    min-width: 1280px;
    background-color: rgb(238,238,238);
}
/*導覽列*/
.header > .navigation
{
    position: relative;
    box-sizing: border-box;
    padding:0 55px;
    width: 100%;
    background-color: rgb(153,0,0);
    border-bottom-width: 5px;
    border-bottom-color: rgb(51,51,51);
    border-bottom-style: solid;
    line-height: 3em;
}

/*導覽列icon*/
.header > .navigation  .icon
{
    display: inline-block;
    /*margin-top:1em;*/
    vertical-align: sub;
    width: 32px;
    height: 32px;
}
/*導覽列連結陣列*/
.header > .navigation > .linkList
{
    display: inline-block;
}
/*導覽列連結陣列物件*/
.header > .navigation > .linkList > li
{
    margin-right: 40px;
}
/*導覽列 link 視覺回饋*/
.header > .navigation > .linkList > li > a:hover
{
    text-shadow:0px 1px 10px #ffe008,0px 1px 10px #ffe008;
    transition: all 0.3s;
}
.header > .navigation > .linkList > li > a:active
{
    text-shadow:0px 1px 10px #ffffff,0px 1px 10px #ffffff;
}
/*對齊用容器*/
.header .circleContainer
{
    width:100%;
    position: relative;
    height: 0px;

}
/*寶可夢球圓形*/
.header .circle
{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: rgb(238,238,238);
    border:5px rgb(51,51,51) solid;
    border-radius: 99em;
    position: relative;
    z-index: 5;
    top: -20px;
    left:calc(50% - 20px);
    display: inline-block;
}
/*主頁區*/
#main.article
{
    margin-top:3em;
    text-align: center;

    background-image: url("../image/headerBackground.png");
}
.pictureContainer
{
    height: auto;
    padding-top:170px ;
    margin-bottom: 23px ;
}
.pictureContainer img
{
    vertical-align: super;
}
#main.article .mask
{
    height:auto;
    margin:0px 13px;
}
/*特性陣列圖檔*/
.featureList img
{
    width:64px;
    height: 64px;
}
.featureList li
{
    margin-right: 125px;
}
.featureList
{
    margin-right: -125px;
}

/*特性區*/
/*特性1*/
.feature#childhood
{
    background-image: url("../image/palletTown.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.feature#childhood .protagonist
{
    position: absolute;
    top:calc(50% - 52px);
    left:20%;
}
.feature#childhood .mask
{
    background-color: rgba(255,255,255,0.925);
}
/*特性2*/
.feature#withoutLogin
{
    background-image: url("../image/ibuBackground.jpg");
    background-size: 100% 100%;
}
.ibu
{
    position: absolute;
    right: 80px;
    width: 430px;
    height: 460px;
    margin-top: 100px;
}
/*特性區*/
/*特性3*/
.feature#openSource
{
    background-image: url("../image/code.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
/*How To Play*/
#playHelp
{
   background-image: url("../image/playHelpBackground.jpg");
}
#playHelp .mask
{
    display: flex;
    /*align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    padding-top: 0;
}

#playHelp .pages
{
    position: relative;
    margin: auto;
}
#playHelp .mask
{
    background-color: rgba(0,0,0,0,0.5);
}
#playHelp .GB
{
    display: block;
    position: absolute;
    right: calc(25% - 173.5px);
    top:calc(50% - 287px);
}
#playHelp .key
{
    margin:0;
}
#playHelp[data-page="1"] .key,#playHelp[data-page="2"] .key
{
    display: inline-block;
    position: relative;
}
#playHelp[data-page="1"] .key.left
{
    left:-4em;
}
#playHelp[data-page="1"] .key.right
{
    right: -4em;
}#playHelp[data-page="2"] .key.A
{
    right: -3em;
   
}
#playHelp[data-page="2"] .key.B
{
    left:-3em;
}
#playHelp[data-page="3"] .key
{
    display: inline-block;
    margin-right: 30px;
}
#playHelp[data-page="3"] .pageContent
{
    margin-right: -30px;
}
.dark .nextPageButton
{
    position: absolute;
    right: 0;
    top:calc(50% - 24px);
    background-image: url("../image/arrows.png");
    background-repeat: no-repeat;
    background-size: 50px 218px;
    background-position: 0 0;
    height: 48px;
    width: 48px;
    opacity: 0.9;
}
.dark .nextPageButton.disable
{
    position: absolute;
    right: 0;
    opacity: 0.5;
    top:calc(50% - 24px);
    background-image: url("../image/arrows.png");
    background-repeat: no-repeat;
    background-size: 50px 218px;
    background-position: 0 0;
    height: 48px;
    width: 48px;
}

.dark .lastPageButton
{
    position: absolute;
    left:0;
    top:calc(50% - 24px);
    background-image: url("../image/arrows.png");
    background-repeat: no-repeat;
    background-size: 50px 218px;
    background-position: 0 -50px;
    height: 48px;
    width: 48px;
    opacity: 0.9;
}
.dark .lastPageButton.disable
{
    opacity: 0.3;
}
.unownf
{
    position: absolute;
    left: 80px;
    width: 430px;
    height: 460px;
    margin-top: 100px;
}
#raiders
{
    background: linear-gradient(65deg, #E69138 20%, #EDCD96 78%); 
    background: -moz-linear-gradient(65deg, #E69138 20%, #EDCD96 78%); 
    background: -webkit-linear-gradient(65deg, #E69138 20%, #EDCD96 78%); 
    background: -o-linear-gradient(65deg, #E69138 20%, #EDCD96 78%); 
}
#raiders .mask
{
    background-color: rgba(255,255,255,0.5);
}
/*頁尾區*/
.footer>.article#contact
{
    background-image: url("../image/footer.jpg");
    background-size: 100% 100%;
}
.footerContent
{
    text-align: center;
    display: inline-block;
    margin:0px;
}
.footer .title
{
    width:100%;
    margin-top:0px;
}
.footer .footerBody
{
    padding-top:160px;
    margin:0px auto;
    width:990px;
}
.footer .share
{
    margin-right: calc((485px - 384px )/ -7);
    text-align: left;
}
.footer .share *
{
    display: inline-block;
    margin:0;
}
.footer .share
{height: 48px;}
.footer .share a
{
    margin-right: calc((485px - 384px )/ 7);;
    min-width: 48px;
    height: 100%;
    position: relative;
}
.footer .share a>img
{
    position: absolute;
    bottom:0;
}
/*share圖片視覺回饋*/
.footer .share a>img
{
    width: 48px;
    height: 48px;
    transition: all 0.4s;
}
.footer .share a>img:hover
{
    
    width: 52px;
    height: 52px;
}
.footer .share a>img:active
{
    box-shadow:rgba(126, 255, 255, 0.75) 0px 0px 17px 7px;
   background-color:rgba(126, 255, 255, 0.75) ;
}
.declare .defContainer
{
    position: relative;
}
.declare .defContainer *
{
    margin:0px;
    display: inline-block;
}
.declare .defContainer .explanation
{
    position: absolute;
    right: 0px;
    bottom:0px;
}
.footer .developerInfo
{
    text-align: center;
}
/*強制覆蓋共用區*/
/*按鈕*/
.button
{
    user-select: none;
    padding:12px 44px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition:all 0.2s;
    width:max-content;
    display: inline-block;
    position: relative;
    
}
.button:hover
{
    border-color:rgb(51,51,51);
    background-color:rgb(159,197,248);
    color:rgb(51,51,51);
}
.button:active
{
    border-color: rgb(204,204,204);
    background-color:rgb(07,55,99);
    color:rgb(204,204,204);
}
/* 攻略共同設定 */
.raiderbody{
    width: 1280px;
}
h1.raiderTitle{
    font-size: 60px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 5%;
}
.center.light.mask{
    width: 100%;
    height: 530px;
    text-align: left;
    padding-left: 5%;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.5);
}
.center.mask{
    width: 100%;
    height: 530px;
    text-align: left;
    padding-left: 5%;
    display: table-cell;
    vertical-align: middle;
    /* background-color: rgba(255,255,255,0.5); */
}
.raiderContent{
    line-height: 1.8;
    font-size: 24px;
    /* margin-left: 20px; */
    width: 90%;
}
/* 攻略導覽列連結大小 */
.raider{
    font-size: 22px;
}
/* 攻略第一篇文章 */
#firstGym.article{
    margin-top: 3em;
}

#firstGym.feature{
    background: linear-gradient(44deg, #DCB8F3 35%, #F5DFEF 60%); 
    background: -moz-linear-gradient(44deg, #DCB8F3 35%, #F5DFEF 60%); 
    background: -webkit-linear-gradient(44deg, #DCB8F3 35%, #F5DFEF 60%); 
    background: -o-linear-gradient(44deg, #DCB8F3 35%, #F5DFEF 60%); 
    
}
#secondGym.feature{
    background: linear-gradient(44deg, #5E3F50 35%, #7B355E 60%); 
    background: -moz-linear-gradient(44deg, #5E3F50 35%, #7B355E 60%); 
    background: -webkit-linear-gradient(44deg, #5E3F50 35%, #7B355E 60%); 
    background: -o-linear-gradient(44deg, #5E3F50 35%, #7B355E 60%); 
}
#thirdGym.feature{
    background: linear-gradient(44deg, #BFE3F3 35%, #F5DFEF 60%); 
    background: -moz-linear-gradient(44deg, #BFE3F3 35%, #F5DFEF 60%); 
    background: -webkit-linear-gradient(44deg, #BFE3F3 35%, #F5DFEF 60%); 
    background: -o-linear-gradient(44deg, #BFE3F3 35%, #F5DFEF 60%); 
}
#fourthGym.feature{
    background: linear-gradient(44deg, #103339 35%, #264750 60%); 
    background: -moz-linear-gradient(44deg, #103339 35%, #264750 60%); 
    background: -webkit-linear-gradient(44deg, #103339 35%, #264750 60%); 
    background: -o-linear-gradient(44deg, #103339 35%, #264750 60%); 
}
#fifthGym.feature{
    background: linear-gradient(44deg, #BFE3F3 35%, #EDF6FA 60%); 
    background: -moz-linear-gradient(44deg, #BFE3F3 35%, #EDF6FA 60%); 
    background: -webkit-linear-gradient(44deg, #BFE3F3 35%, #EDF6FA 60%); 
    background: -o-linear-gradient(44deg, #BFE3F3 35%, #EDF6FA 60%); 
}
#sixthGym.feature{
    background: linear-gradient(44deg, #40152A 35%, #731630 60%); 
    background: -moz-linear-gradient(44deg, #40152A 35%, #731630 60%); 
    background: -webkit-linear-gradient(44deg, #40152A 35%, #731630 60%); 
    background: -o-linear-gradient(44deg, #40152A 35%, #731630 60%); 
}
#seventhGym.feature{
    background: linear-gradient(44deg, #F8D7D0 35%, #FFE9CD 60%); 
    background: -moz-linear-gradient(44deg, #F8D7D0 35%, #FFE9CD 60%); 
    background: -webkit-linear-gradient(44deg, #F8D7D0 35%, #FFE9CD 60%); 
    background: -o-linear-gradient(44deg, #F8D7D0 35%, #FFE9CD 60%); 
}
#eighthGym.feature{
    background: linear-gradient(44deg, rgba(86, 53, 94, 0.7)50%, rgba(187, 158, 220, 0.5)100%); 
    background: -moz-linear-gradient(44deg, rgba(86, 53, 94, 0.7)50%, rgba(187, 158, 220, 0.5)100%); 
    background: -webkit-linear-gradient(44deg, rgba(86, 53, 94, 0.7)50%, rgba(187, 158, 220, 0.5)100%); 
    background: -o-linear-gradient(44deg, rgba(86, 53, 94, 0.7)50%, rgba(187, 158, 220, 0.5)100%); 
}
#championsLeague.feature{
    background: linear-gradient(45deg, rgba(106, 159, 227, 1)50%, rgba(255, 255, 255, 0.8)100%); 
    background: -moz-linear-gradient(45deg, rgba(106, 159, 227, 1)50%, rgba(255, 255, 255, 0.8)100%); 
    background: -webkit-linear-gradient(45deg, rgba(106, 159, 227, 1)50%, rgba(255, 255, 255, 0.8)100%); 
    background: -o-linear-gradient(45deg, rgba(106, 159, 227, 1)50%, rgba(255, 255, 255, 0.8)100%); 
}